<ion-view class="feed-entries-view " cache-view="false">
  <ion-nav-buttons side="right">
    <button menu-toggle="left" class="button button-icon icon ion-navicon">
    </button>
  </ion-nav-buttons>
  <ion-nav-title>
    <div class="bar bar-header bar-positive">
      <div class="title">
        שגיאה
      </div>
    </div>
  </ion-nav-title>

  <ion-content class="pele-background">
    <div class="card error">
      <div class="item item-body error-top text-center">
        <i class="icon ion-android-alert"></i>
      </div>
      <div class="item item-body">
        {errors}
      </div>
  </ion-content>
</ion-view>
