<ng-form name="attributes">
  <div ng-repeat="e in extraSchema">
    <div ng-show="e.type=='link'" class="item no-border item-input item-text-wrap">
      <span class="input-label"><span ng-show="e.required">*</span> {{e.label}} </span>
      <a href="#" ng-click="openLink(e)">קישור</a>
    </div>

    <ng-switch on="e.type">
      <label class="item no-border item-input item-text-wrap">
      <span  ng-show="!(e.type=='html' || e.type=='link')" class="input-label"><span ng-show="e.required">*</span> {{e.label}} </span>
      <input name="{{e.attribute_name}}" ng-switch-when="text" type="text" ng-model="lead.ATTRIBUTES[e.attribute_name]" ng-required="e.required">
      <div ng-switch-when="date">
          <button ng-click="bb='picker'">click</button>
          <span ng-show="bb=='picker'">
              <input date-input ng-change="bb='val'" name="{{e.attribute_name}}" type="date" ng-model="lead.ATTRIBUTES[e.attribute_name]"  ng-required="e.required" min="{{e.computedMin}}" max="{{e.computedMax}}">
          </span>
          bb:{{bb}}
        <span>{{lead.ATTRIBUTES[e.attribute_name]|date :'dd/MM/yyyy'}}</span>
    </div>

      <input name="{{e.attribute_name}}" ng-switch-when="number" type="number" ng-model="lead.ATTRIBUTES[e.attribute_name]"  ng-required="e.required">
      <input name="{{e.attribute_name}}" ng-switch-when="int" type="number" ng-model="lead.ATTRIBUTES[e.attribute_name]"  min="{{e.min}}" max="{{e.max}}" step="1" ng-min="e.min" ng-max="e.max" ng-required="e.required">
      <select class="select" name="{{e.attribute_name}}" ng-switch-when="select" class="form-control" ng-model="e.value" ng-required="e.required">
         <option ng-if="option.k != undefined" ng-repeat="option in e.options" value="{{option.k}}">{{option.v}}</option>
         <option ng-if="option.k == undefined" ng-repeat="option in e.options" value="{{option}}">{{option}}</option>
			</select>
      <label ng-switch-when="checkbox" class="toggle toggle-positive">
               <input type="checkbox" name="{{e.attribute_name}}" ng-model="lead.ATTRIBUTES[e.attribute_name]" ng-true-value="{{e.trueValue}}" ng-false-value="{{e.falseValue}}" ng-required="e.required">
               <div class="track">
                 <div class="handle"></div>
               </div>
     </label>
      <fieldset ng-switch-when="checkboxes">
        <label ng-repeat="option in e.options">
			   <input name="{{e.attribute_name}}" type="checkbox" ng-model="e.value[tokenize(option.name)]" value="{{option.value}}" ng-required="e.required"> {{option.name}} &nbsp;
			</label>
      </fieldset>

      </label>
      <label ng-switch-when="textarea" class="item no-border item-input item-text-wrap">
        <textarea name="{{e.attribute_name}}"  rows="e.rows" cols="e.cols" ng-model="lead.ATTRIBUTES[e.attribute_name]" ng-required="e.required"></textarea>
    </label>
      <!--label ng-if="e.attribute_name" ng-show="leadForm.attributes[e.attribute_name].$invalid && (leadForm.attributes[e.attribute_name].$dirty || submitted)" class="item no-border input-error">
      ערך לא תקין
    </label-->
      <div ng-if="e.attribute_name" ng-show="forms.leadForm.attributes[e.attribute_name].$invalid && submitted">
        <label class="item no-border input-error" ng-if="e.message">{{e.message}}</label>
        <div ng-if="!e.message">
          <label class="item no-border input-error" ng-if="forms.leadForm.attributes[e.attribute_name].$error.required">יש להזין ערך</label>
          <span class="item no-border input-error" ng-if="forms.leadForm.attributes[e.attribute_name].$error.min">ערך נמוך מדי</label>
          <label class="item no-border input-error" ng-if="forms.leadForm.attributes[e.attribute_name].$error.max">ערך גבוה מדי</label>
          <label class="item no-border input-error" ng-if="forms.leadForm.attributes[e.attribute_name].$error.email">אימייל לא תקין</label>
          <label class="item no-border input-error" ng-if="forms.leadForm.attributes[e.attribute_name].$error.maxlength">אורך גדול מדי</label>
          <label class="item no-border input-error" ng-if="forms.leadForm.attributes[e.attribute_name].$error.minlength">אורך קטן מדי</label>
          <label class="item no-border input-error" ng-if="forms.leadForm.attributes[e.attribute_name].$error.number">יש להזין ספרות בלבד</label>
          <label class="item no-border input-error" ng-if="forms.leadForm.attributes[e.attribute_name].$error.pattern">הערך שהזנתם אינו תקין</label>
          <label class="item no-border input-error" ng-if="forms.leadForm.attributes[e.attribute_name].$error.url">כתובת אינה תקינה</label>
          <label class="item no-border input-error" ng-if="forms.leadForm.attributes[e.attribute_name].$error.date">תאריך אינו תקין</label>
          <label class="item no-border input-error" ng-if="forms.leadForm.attributes[e.attribute_name].$error.time">השעה אינה תקינה</label>
          <label class="item no-border input-error" ng-if="forms.leadForm.attributes[e.attribute_name].$error.week">ערך השבוע אינו תקין</label>
          <label class="item no-border input-error" ng-if="forms.leadForm.attributes[e.attribute_name].$error.month">ערך החודש אינו תקין</label>
    </div>
  </div>
    </ng-switch>
  </div>
</ng-form>
