<ng-form name="attributes">
  <div ng-repeat="e in extraSchema">
    <ng-switch on="e.type">
      <label class="item no-border item-input">
      <span class="input-label"><span ng-show="e.required">*</span> {{e.label}}</span>
      <input name="{{e.attribute_name}}" ng-switch-when="text" type="text" ng-model="lead.ATTRIBUTES[e.attribute_name]" ng-required="e.required">
      <input name="{{e.attribute_name}}" ng-switch-when="date" type="date" ng-model="lead.ATTRIBUTES[e.attribute_name]" ng-required="e.required" min="{{e.computedMin}}" max="{{e.computedMax}}">
      <input name="{{e.attribute_name}}" ng-switch-when="number" type="number" ng-model="lead.ATTRIBUTES[e.attribute_name]"  ng-required="e.required">
      <select class="select" name="{{e.attribute_name}}" ng-switch-when="select" class="form-control" ng-model="e.value" ng-required="e.required">
         <option ng-if="option.k != undefined" ng-repeat="option in e.options" value="{{option.k}}">{{option.v}}</option>
         <option ng-if="option.k == undefined" ng-repeat="option in e.options" value="{{option}}">{{option}}</option>
			</select>
      <fieldset ng-switch-when="radio" ng-required="e.required">
        <span class="input-label">* {{e.label}}</span>
        <label ng-repeat="option in e.options">
				 <input name="{{e.attribute_name}}" type="radio" ng-model="e.value" value="{{e.k}}"> {{option.v}}
			  </label>
      </fieldset>
      <fieldset ng-switch-when="checkbox">
        <label>
         <input name="{{e.attribute_name}}" type="checkbox" ng-model="e.value[tokenize(option.name)]" value="{{option.value}}" ng-required="e.required"> {{option.name}} &nbsp;
      </label>
      </fieldset>
      <fieldset ng-switch-when="checkboxes">
        <label ng-repeat="option in e.options">
			   <input name="{{e.attribute_name}}" type="checkbox" ng-model="e.value[tokenize(option.name)]" value="{{option.value}}" ng-required="e.required"> {{option.name}} &nbsp;
			</label>
      </fieldset>
      <div ng-switch-when="html" type="text" ng-bind-html="e.html">{{e.html}}</div>
      </label>
      <label ng-switch-when="textarea" class="item no-border item-input item-text-wrap">
        <textarea name="{{e.attribute_name}}"  rows="e.rows" cols="e.cols" ng-model="lead.ATTRIBUTES[e.attribute_name]" ng-required="e.required"></textarea>
    </label>
      <!--label ng-if="e.attribute_name" ng-show="leadform.attributes[e.attribute_name].$invalid && (leadform.attributes[e.attribute_name].$dirty || submitted)" class="item no-border input-error">
      ערך לא תקין
    </label-->
      <div ng-if="e.attribute_name" ng-show="leadform.attributes[e.attribute_name].$invalid && submitted">
        <label class="item no-border input-error" ng-if="e.message">{{e.message}}</label>
        <div ng-if="!e.message">
          <label class="item no-border input-error" ng-if="leadform.attributes[e.attribute_name].$error.required">יש להזין ערך</label>
          <span class="item no-border input-error" ng-if="leadform.attributes[e.attribute_name].$error.min">ערך נמוך מדי</label>
          <label class="item no-border input-error" ng-if="leadform.attributes[e.attribute_name].$error.max">ערך גבוה מדי</label>
          <label class="item no-border input-error" ng-if="leadform.attributes[e.attribute_name].$error.email">אימייל לא תקין</label>
          <label class="item no-border input-error" ng-if="leadform.attributes[e.attribute_name].$error.maxlength">אורך גדול מדי</label>
          <label class="item no-border input-error" ng-if="leadform.attributes[e.attribute_name].$error.minlength">אורך קטן מדי</label>
          <label class="item no-border input-error" ng-if="leadform.attributes[e.attribute_name].$error.number">יש להזין ספרות בלבד</label>
          <label class="item no-border input-error" ng-if="leadform.attributes[e.attribute_name].$error.pattern">הערך שהזנתם אינו תקין</label>
          <label class="item no-border input-error" ng-if="leadform.attributes[e.attribute_name].$error.url">כתובת אינה תקינה</label>
          <label class="item no-border input-error" ng-if="leadform.attributes[e.attribute_name].$error.date">תאריך אינו תקין</label>
          <label class="item no-border input-error" ng-if="leadform.attributes[e.attribute_name].$error.time">השעה אינה תקינה</label>
          <label class="item no-border input-error" ng-if="leadform.attributes[e.attribute_name].$error.week">ערך השבוע אינו תקין</label>
          <label class="item no-border input-error" ng-if="leadform.attributes[e.attribute_name].$error.month">ערך החודש אינו תקין</label>
    </div>
  </div>
    </ng-switch>
  </div>
</ng-form>
