<ion-view cache-view="false">
  <ion-nav-buttons side="right">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
  <ion-nav-title>
    <div class="bar bar-header bar-positive">
      <div class="title">{{title}}
      </div>
    </div>
  </ion-nav-title>
  <ion-content scroll="true" style="height: calc(100% - 100px);" id="new_lead" padding="true">
    <ng-form role="form" name="forms.leadForm" novalidate>
      <fancy-select class="fancy-select text-right" header-text="בחר סוג ליד" items="typesByFormType" value="lead.LEAD_TYPE" value-property="TYPE" text-property="DESCRIPTION" allow-empty='false' text="בחרו סוג ליד" not-img-class="hidden" note-text=" : סוג ליד "
        value-changed="onValueChanged(value)" get-custom-text="getCustomText(value)" note-img-class="icon ion-android-checkmark-circle" item-class="text-right pele_rtl">
      </fancy-select>
      <label ng-show="submitted && !lead.LEAD_TYPE" class="item no-border input-error text-right">
          נא בחר סוג ליד
      </label>
      <!--label class="item no-border item-toggle pele_rtl text-right">
          ליד עצמי {{lead.LEAD_ID}}
          <label class="toggle toggle-positive">
               <input type="checkbox" ng-model="lead.FORM_LEAD_STATE"  ng-true-value="'S'" ng-false-value="'T'">
               <div class="track">
                 <div class="handle"></div>
               </div>
             </label>
      </label>
      <label class="pele_rtl item-text-wrap"><small>** ליד עצמי לא יעבור להמשך טיפול אצל הגורמים השונים בפלאפון</small>
      </label-->
      <a href="#" style="margin-top:7px;margin-left:7px" class="fab" ng-click="openModal()">
              <i class="icon ion-upload icon-center"></i>
      </a>
      <div class="list lead-form pele_rtl text-right">
        <label class="item no-border item-input">
              <span class="input-label">* שם פרטי</span>
              <input type="text" name="FIRST_NAME"  ng-model="lead.FIRST_NAME" required>
            </label>
        <label ng-show="forms.leadForm.FIRST_NAME.$invalid && (forms.leadForm.FIRST_NAME.$dirty || submitted)" class="item no-border input-error">
              יש להזין שם פרטי
              </label>

        <label class="item no-border item-input">
                <span class="input-label">* שם משפחה</span>
                <input type="text"  name="LAST_NAME"  ng-model="lead.LAST_NAME" required>
              </label>
        <label ng-show="forms.leadForm.LAST_NAME.$invalid && (forms.leadForm.LAST_NAME.$dirty || submitted)" class="item no-border input-error">
                  יש להזין שם משפחה
              </label>

        <label class="item no-border item-input item-text-wrap">
                <span class="input-label">* מס טלפון לחזרה</span>
                <input type="tel"  name="PHONE_NO_1"  ng-model="lead.PHONE_NO_1" required ng-pattern="/^05\d-?[0-9]{1}-?[0-9]{2}-?[0-9]{4}$/">
              </label>
        <label ng-show="forms.leadForm.PHONE_NO_1.$invalid &&  (forms.leadForm.PHONE_NO_1.$dirty  || submitted)" class="item no-border input-error">
                יש להזין מס' סלולארי תקין
             </label>

        <label class="item no-border item-input item-text-wrap">
                <span class="input-label">מספר טלפון נוסף</span>
                <input type="tel" name="PHONE_NO_2" ng-model="lead.PHONE_NO_2" ng-pattern="/^0[0-9]{2}-?[0-9]{1}-?[0-9]{2}-?[0-9]{3,4}$/">
              </label>
        <label ng-show="forms.leadForm.PHONE_NO_2.$invalid && (forms.leadForm.PHONE_NO_2.$dirty  || submitted)" class="item no-border  input-error">
                יש להזין מס' נוסף תקין
              </label>
        <label class="item no-border item-input">
              <span class="input-label">ת.ז לקוח</span>
              <input type="number" name="CUSTOMER_ID" ng-model="lead.CUSTOMER_ID" ng-pattern="/^[0-9]{8,9}$/">
            </label>
        <label ng-show="forms.leadForm.CUSTOMER_ID.$invalid && (forms.leadForm.CUSTOMER_ID.$dirty  || submitted)" class="item no-border  input-error">
              יש להזין מס' תקין'
              </label>
        <label class="no-border margin-top-10">
            <table style="width:100%" class="table margin-top-5 list">
              <tr>
                <td class="text-right"> <span class="label">  &nbsp; שעות רצויות לחזרה </span> </td>
                <td class="text-center">
                  <div class="item item-input no-border">
                  <select ng-change="recreateEndHour()" name="from_hour" class="form-control select" ng-model="lead.from_hour"
                  ng-options="option for option in from_hour_range"  ng-selected="option==lead.from_hour"  required />
                      <!--option ng-repeat="option in from_hour_range" ng-selected="option==lead.from_hour" value="{{option}}">{{option}}</option-->
                  </select>
                </div>
                </td>
                <td class="text-center" style="width:10%;"> - </td>
                <td class="text-left">
                  <div class="item item-input no-border">
                  <select ng-click="recreateEndHour()" name="to_hour" class="form-control select" ng-model="lead.to_hour"
                  ng-options="option for option in to_hour_range"  ng-selected="option==lead.to_hour"  required />
                </div>
                </td>
              </tr>
            </table>
            </label>
        <label ng-show="(forms.leadForm.to_hour.$invalid || forms.leadForm.from_hour.$invalid) &&  (forms.leadForm.from_hour.$dirty  || forms.leadForm.to_hour.$dirty || submitted)" class="item no-border input-error">
              נא סמנו שעות רצויות  לחזרה
            </label>

        <label class="item no-border item-input item-text-wrap">
          <table style="width:100%" class="table margin-top-10">
            <tr>
              <td style="width:70%" class="text-right">  <span class="label">מאשר קבלת עדכונים על מבצעים והטבות</span></td>
              <td class="text-left">
                <select class="select" name="PROACTIVE_IND" class="form-control" ng-model="lead.PROACTIVE_IND" required />
                        <option value="">אנא בחר </option>
                        <option value="Y">כן</option>
                        <option value="N">לא</option>
                    </select></td>
            </tr>
          </table>


        </label>
        <label ng-show="forms.leadForm.PROACTIVE_IND.$invalid &&  (forms.leadForm.PROACTIVE_IND.$dirty  || submitted)" class="item no-border input-error">
             נא סמנו
       </label>

        <!--label class="item no-border item-input item-text-wrap">
                <input type="time" id="exampleInput" name="input" ng-model="departureDate"
                  placeholder="HH:mm" min="08:00" max="17:00" required />
                <input type="text" ng-model="lead.PREFRRED_HOURS">
              </label>
        <label class="item no-border item-input item-text-wrap">
                <input type="date" id="exampleInput" name="input" ng-model="departureDate1"  required />
              </label-->
        <ng-include style="background:#CCC" src="'app/apps/leads/extra.html'"></ng-include>
        <label class="item no-border item-input item-text-wrap margin-top-10">
              <span class="input-label">פרטי הבקשה</span>

            </label>
        <label class="item no-border item-input item-text-wrap">
            <textarea class="ion-item item item-text-wrap" ng-model="lead.NOTE"></textarea>
        </label>
      </div>

    </ng-form>
  </ion-content>
  <div style="" class="bar bar-footer bar-clean">
    <a class="button button-block  button-positive icon-right ion-paper-airplane" ng-show="!lead.LEAD_ID" ng-click="submit()" class="title">פתיחת ליד</a>
    <a class="button button-block  button-balanced icon-right ion-document-text" ng-show="lead.LEAD_ID" ng-click="submit()" class="title">עדכן ליד עצמי</a>
    <a class="button button-block  button-danger icon-right ion-document-text" ng-show="lead.LEAD_ID" ng-click="delete(lead.LEAD_ID)" class="title">מחק ליד עצמי</a>
  </div>

  <script id="upload.html" type="text/ng-template">
    <ion-modal-view class="pele-background">
      <ion-header-bar class="bar bar-header bar-positive">
        <h1 class="title">צירוף קבצים לליד</h1>
        <button ng-click="closeModal()" class="button button-icon ion-close-circled"></button>
      </ion-header-bar>
      <ion-content scroll="true">
        <!--div class="apps-front-menu">
        <button ui-sref="app.leads.lead" class="button button-large button-stable button-block text-right item-icon-left">
      מצלמה <i class="icon ion-ios-camera-outline icon-left"></i>
    </button>
        <button ui-sref="app.leads.report({personal:false})" class="button button-large button-stable button-block item-icon-left text-right">
               גלריה  <i class="icon ion-images icon-left"></i>
      </button>
        <button ngf-select="upload($file)" class="button button-large button-stable button-block item-icon-left text-right" ng-model="picFile" ngf-pattern="'image/*'">
  אחסון מכשיר   <i class=" icon ion-ios-folder-outline icon-left "></i>
      </button>
    </div-->
        <ng-form role="form" name="attachForm">
          <!--div style="margin-top:20px" class="row text-center">
            teste 1 : <input type="file" capture="camera" accept="image/*">
          </div>
          <div>
            test 2: <input type="file" accept="image/*;capture=camera">
          </div>
          <div>
            test 3: <input type="file" accept="image/*" capture>
          </div-->
          <div style="margin-top:20px" class="row text-center">
            <div class="col col-50">
              <a class="text-center white" ng-click="takePic('CAMERA')"><i class="icon ion-ios-camera-outline icon-lg icon-top"></i>מצלמה</a>
            </div>
            <div class="col col-50">
              <a class="text-center white" ng-click="takePic('LIBRARY')"><i class="icon ion-images  icon-lg icon-top"></i> גלריה</a>
            </div>
          </div>
        </ng-form>
        <div ng-if="imageUri" nstyle="margin:10px" class="text-center">
          <div class="">
            <div class="preview-container">
              <img style="" ng-src="{{imageUri}}" class="upload thumb">
            </div>
          </div>
          <div style="margin:10px 40px 10px 40px">
            <div class="image-title item item-input-inset">
              <label class="item-input-wrapper">
                <input type="text" placeholder="תיאור קצר" ng-model="imageTitle">
              </label>
            </div>
          </div>
        </div>

        <!--button class="button button-stable" ng-show="imageUri">Remove</button-->
        <div ng-show="imageUri" style="margin-top:20px" class="row text-center">
          <div class="col">
            <a class="text-center white" ng-click="uploadFile()"><i class="icon ion-paper-airplane icon-lg icon-top"></i> שלח</a>
          </div>
        </div>
        <div><span class="progress" ng-show="uploadState.progress >= 0">
            <div style="width:{{uploadState.progress}}%" ng-bind="uploadState.progress + '%'"></div>
        </span>
        </div>
        <div>
          <span ng-show="uploadState.success">Upload Successful</span>
        </div>
        <div><span class="err" ng-show="uploadState.error">Upload failed</span></div>
      </ion-content>
    </ion-modal-view>
  </script>
</ion-view>
