<ion-view>
  <ion-nav-buttons side="right">
    <button menu-toggle="left" class="button button-icon icon ion-navicon">
  </button>
  </ion-nav-buttons>
  <ion-nav-title>
    <div class="bar bar-header bar-positive">
      <h1 class="title">{{title}}</h1>
    </div>
  </ion-nav-title>

  <ion-content class="pele-background">
    <div class="apps-front-menu text-center" ng-show="stateType=='T'">
      <button ui-sref="app.leads.lead({type:'T'})" class="button button-large button-stable button-block text-center">
    פתיחת ליד לשגרירים
    </button>
      <button ui-sref="app.leads.report({type:'T'})" class="button button-large button-stable button-block text-center">
     סטאטוס לידים שפתחתי
    </button>
    </div>
    <div class="apps-front-menu text-center" ng-show="stateType=='S'">
      <button ui-sref="app.leads.lead({type:'S'})" class="button button-large button-stable button-block text-center">
      פתיחת ליד למעקב עצמי  </button>

      <button ui-sref="app.leads.report({type:'S'})" class="button button-large button-stable button-block text-center">
      ניהול לידים עצמיים
      </button>
      <button ng-click="openModal()" class="button button-clear  button-light ion-information-circled">
      תקנון
        </button>
    </div>
  </ion-content>
</ion-view>
<script type="text/ng-template" id="leadInfo.html">
  <ion-modal-view class="">
    <ion-header-bar class="bar bar-header bar-positive">
      <h1 class="title">מידע נוסף</h1>
      <button ng-click="closeModal()" class="button button-icon ion-arrow-down-b"></button>
    </ion-header-bar>
    <ion-content ng-show="info" ng-bind-html="info" class="pele_rtl">
    </ion-content>
    <ion-content ng-show="!info" padding="true">
      <div class="card pele_rtl">
        <div class="item item-text-wrap">
          <h3>ליד לשגרירים </h3>
          <p>הליד יעבור להמשך טיפול של צוות רלוונטי בפלאפון.</p>
        </div>
      </div>
      <div class="card pele_rtl">
        <div class="item item-text-wrap">
          <h3>ליד למעקב עצמי</h3>
          <p>הליד יישאר אצלך בלבד. הליד לא יעבור לגורם מטפל אחר בפלאפון.</p>
        </div>
      </div>
    </ion-content>
  </ion-modal-view>
</script>
