<ion-view cache-view="true">
  <ion-nav-buttons side="right">
    <button menu-toggle="left" class="button button-icon icon ion-navicon">
    </button>
  </ion-nav-buttons>
  <ion-nav-buttons side="left">
    <button class="button button-icon icon ion-ios-search" ng-click="setForm()"></button>
  </ion-nav-buttons>
  <ion-nav-title>
    <div class="bar bar-header bar-positive">
      <div class="title">{{title}}</div>
    </div>
  </ion-nav-title>
  <ion-content class="phonebook-form pele-background" scroll="true" ng-show="page=='form' || !page">
    <div class="row">
      <div class="col col-input">
        <ion-item class="item item-input">
          <input class="pele_rtl text-right" type="text" placeholder="חיפוש לפי שם פרטי/משפחה/שלוחה" ng-model="term">
          <i class="icon ion-funnel placeholder-icon"></i>
        </ion-item>
      </div>
    </div>
    <div class="row">

      <div class="col col-input">
        <ion-item class="item item-input">
          <input class="pele_rtl text-right" type="text" placeholder="חיפוש לפי יחידה ארגונית" ng-model="org">
          <i class="icon ion-arrow-down-b placeholder-icon"></i>
        </ion-item>
      </div>
    </div>
    <div class="col push-top-20">
      <div class="text-center">
        <button ng-click="search()" class="round button icon-left ion-search button-positive">חיפוש</button>
      </div>
    </div>
    <div class="col push-top-20">
      <div class="text-center push-top-20">
        <button class="button button-clear icon-right button-light ion-gear-b">
           פעולות
        </button>
      </div>
    </div>
    <div class="col">
      <div class="text-center">
        <button ng-click="modals.operunits.show()" class="button button-clear icon-right button-light ion-information-circled">
            יחידות תפעוליות
        </button>
      </div>
    </div>
  </ion-content>
  <ion-content class="pele_rtl" scroll="true" ng-show="page=='result'">
    <div class="list phonebook">
      <div class="item item-avatar item-avatar-right item-icon-left " ng-repeat="contact in searchResult">
        <img class="avatar" ng-if="contact.pic" ui-sref="app.phonebook.details({personId:contact.personId}) " src="data:image/JPEG;base64,{{contact.pic}} ">
        <div ui-sref="app.phonebook.details({personId:contact.personId})">
          <h2> {{contact.lastName}} {{contact.firstName}}</h2>
          <p>{{contact.sector}} </p>
        </div>
        <div class="icon ">
          <a href="# " ng-href="tel:{{contact.mobilePhone}} "><img class="pel_icon " src="img/new_icons/blue_mobile.png "></a>
          <a href="# " ng-href="tel:{{contact.workPhone}} "><img class="pel_icon " src="img/new_icons/gray_phone.png "></a>
        </div>
      </div>
  </ion-content>

  <script id=" search.html " type="text/ng-template ">
    <ion-modal-view>
      <ion-header-bar class="bar app-top-bar bar-header icon-left ">
        <button class="button-clear " ng-click="goBack() ">
         <i class="ion-arrow-left-a "></i>
      </button>
        <h1 class="title ">{{title}}</h1>
      </ion-header-bar>
      <ion-content>
        <div class="list phonebook ">
          <a class="item item-avatar item-avatar-right item-icon-left " href="# " ng-repeat="contact in searchResult ">
              <img class="avatar " ng-if="contact.pic " ng-click="modals.search.hide() "  ui-sref="app.phonebook.details({personId:contact.personId}) " src="data:image/JPEG;base64,{{contact.pic}} ">
              <div ui-sref="app.phonebook.details({personId:contact.personId}) " ng-click="modals.search.hide() ">
                <h2> {{contact.lastName}} {{contact.firstName}}</h2>
                <p>{{contact.sector}} </p>
              </div>
              <div class="icon ">
               <i href="tel:{{contact.mobilePhone}} "><img class="pel_icon " src="img/phone.png " \></i>
               <i ng-click="createContact(contact) "><img class="pel_icon " src="img/add_contact.png " \></i>
             </div>
            </a>
        </div>
      </ion-content>
    </ion-modal-view>
  </script>
  <script id="operunits.html " type="text/ng-template ">
    <ion-modal-view>
      <ion-header-bar class="bar app-top-bar bar-header icon-left ">
        <button class="button-clear " ng-click="modals.operunits.hide() ">
         <i class="ion-arrow-left-a "></i>
      </button>
        <h1 class="title ">יחידות תפעוליות</h1>
      </ion-header-bar>
      <ion-content>
        <div class="card pele_rtl ">
          <div class="list phonebook ">
            <ion-item ng-repeat="u in useful ">
              <div class="row ">
                <div class="col col-35 item-text-wrap ">
                  {{u.displayName}} </div>
                <div class="col col-35 ">{{u.phoneNumber}}</div>
                <div class="col col-30 text-left ">
                  <a href="tel:{{u.phoneNumber}} "><img class="pel_icon " src="img/new_icons/blue_phone.png " \></a>
                  <a ng-click="createContact(u) "><img class="pel_icon " src="img/new_icons/green_add_contact.png " \></a>
                </div>
              </div>
            </ion-item>
            </ion-list>
          </div>
        </div>
      </ion-content>
    </ion-modal-view>
  </script>

</ion-view>
