<ion-view class="feed-entries-view">

  <ion-nav-buttons side="right"  >
    <button menu-toggle="left" class="button button-icon icon ion-navicon">
    </button>
  </ion-nav-buttons>
  <ion-nav-title>
    <div class="bar bar-header bar-light">
      <div class="title" id="logo">
        <!--<img src="img/DocApprove/logo.png" style="max-width: 100%;  height: 100%;"/>-->
      </div>
    </div>
  </ion-nav-title>

  <ion-content scroll="false">
    <div class="pele-page-title pele-img-size pele-page-title-font">
      <a class="description">טופס דיווח עבודה מהבית</a>
    </div>
    <tab-slide-box>
      <div class="tsb-icons">
        <div class="tsb-ic-wrp">
          <ion-scroll direction="x" class="tsb-hscroll ">
            <a href="javascript:;" class="{{tab.icon}}" ng-repeat="tab in tabs" on-finish-render="test()">{{tab.text}}</a>

          </ion-scroll>
        </div>
      </div>
      <ion-slide-box show-pager="false" on-slide-changed="slideHasChanged($index)">

        <!-------------------------------------------------------------------------------->
        <!----------------------------- Approve List Slide ------------------------------->
        <!-------------------------------------------------------------------------------->
        <!--
        <ion-slide>
          <ion-scroll style="height:80%" delegate-handle="slide1Scroll" >

          <div ng-repeat="detail in docDetails.ACTION_HISTORY" type="item-text-wrap" dir="RTL">

            <a class="item item-divider item-icon-right">
              <i class="icon ion-android-contact"></i>
              <p class="text-right">{{detail.USER_NAME}}</p>
            </a>

            <label class="item" ng-hide="pelHideShow(detail.ACTION , detail.NOTE)">
              <div class="row">
                <div class="col text-right">פעולה : </div>
                <div class="col col-75 text-right">{{detail.ACTION}}</div>
              </div>
              <div class="row">
                <div class="col text-right">ת. פעולה : </div>
                <div class="col col-75 text-right pele_rtl">{{detail.ACTION_DATE}}</div>
              </div>
              <div class="row">
                <div class="col text-right pele_rtl">הערות : </div>
                <textarea class="col col-75 text-right pele_rtl" readonly="true">{{detail.NOTE}}</textarea>
              </div>
            </label>
          </div>
            </ion-scroll>
        </ion-slide>
        -->
        <ion-slide>
          <ion-scroll style="height:80%" delegate-handle="slide1Scroll" >
            <div ng-repeat="detail in ACTION_HISTORY" type="item-text-wrap" dir="RTL">
              <!--<div class="item item-divider "> -->
              <a class="item item-divider item-icon-right pele-item-icon-left" ng-click="detail.SHOW_FLAG = !detail.SHOW_FLAG; detail.PUSH_COUNT = PUSH_COUNT +1;">
                <!-- <i ng-class="detail.SHOW_FLAG ? 'icon-collapse' : 'icon-expand'"></i> -->
                <i ng-class="showIconCollapseInAcctionHistory(detail.SHOW_FLAG , detail.HIDEN_FLAG)"></i>
                <p class="text-right pele_rtl">{{detail.SEQUENCE_NUM}}. {{detail.USER_NAME}}</p>
                <i class="icon icon-left {{getApproveListActionIcon(detail.ACTION , detail.ACTION_DATE , detail.NOTE)}}"></i>
              </a>

              <label class="item" ng-hide="hidenAcctionHistoryDetails(detail.SHOW_FLAG, detail.HIDEN_FLAG, detail.PUSH_COUNT , detail.NOTE)">
                <div class="row">
                  <div class="col text-right pele_rtl">פעולה:</div>
                  <div class="col col-75 text-right pele_rtl">{{detail.ACTION}}</div>
                </div>
                <div class="row">
                  <div class="col text-right pele_rtl">תאריך:</div>
                  <div class="col col-75 text-right pele_rtl">{{detail.ACTION_DATE}}</div>
                </div>
                <!--
                <div class="row">
                  <div class="col text-right pele_rtl">הערה:</div>
                  <textarea class="col col-75 text-right pele_rtl" readonly="true">{{detail.NOTE}}</textarea>
                </div>
                -->
                <div class="row">
                  <div class="col text-right pele_rtl">הערות:</div>
                  <div class="col col-75 pele-item item-text-wrap text-right pele_rtl">{{detail.NOTE}}</div>
                </div>
              </label>
            </div>
          </ion-scroll>
        </ion-slide>
        <!------------------------------------------------------------------------------->
        <!----------------------------- Doc Details Slide ------------------------------->
        <!------------------------------------------------------------------------------->
        <ion-slide>
          <ion-scroll style="height:80%" delegate-handle="slide1Scroll" >
    <!-- Refresh to get the new posts -->

            <label class="item item-thumbnail-left">
              <img src="img/employees/worker.png">
              <h2 class="text-right pele_rtl">שם : {{CREATOR}}</h2>
              <h2 class="text-right pele_rtl">ת.ז. : {{EMP_NUMBER}}</h2>
              <h2 class="text-right pele_rtl">מספר טופס : {{DOC_INIT_ID}}</h2>
              <h2 class="text-right pele_rtl">ת. יצירה : {{SENT_DATE}}</h2>
              <h2 class="text-right pele_rtl">מחלקה : {{DEPARTMENT}}</h2>
              <h2 class="text-right pele_rtl">חטיבה : {{SECTOR}}</h2>
            </label>
      <ul class="list">
        <!---------------------------- 242 --------------------------------->
        <div ng-repeat="detail in docDetails.DOC_LINES" type="item-text-wrap" dir="RTL">

          <a class="item item-divider item-icon-right" ng-click="toggleGroup(detail.EFFECTIVE_DATE)">
            <i class="icon ion-android-calendar"></i>
            <p class="float-right">{{detail.EFFECTIVE_DATE}}</p>
            <span>יום: {{detail.ATTRIBUTE1}}</span>
              <span class="tab">סה"כ
                {{detail.ATTRIBUTE4}}
              </span>
          <i ng-class="isGroupShown(detail.EFFECTIVE_DATE) ? 'icon-expand' : 'icon-collapse'"></i>
          </a>
          <label class="item" ng-show="isGroupShown(detail.EFFECTIVE_DATE)">
            <div class="row">
              <div class="col col-30 text-right pele_rtl">שעת התחלה : </div>
              <div class="col col-78 text-right pele_rtl">{{detail.ATTRIBUTE2}}</div>
            </div>
            <div class="row">
              <div class="col col-30 text-right pele_rtl">שעת סיום : </div>
              <div class="col col-70 text-right pele_rtl">{{detail.ATTRIBUTE3}}</div>
            </div>
            <div class="row">
              <div class="col col-30 text-right pele_rtl">סוג דיווח : </div>
              <div class="col col-70 text-right pele_rtl" readonly="true" on-touch="openExistText(detail.ATTRIBUTE5)">
                <p class="under" style="color:blue">{{detail.ATTRIBUTE5}}</p>
              </div>
            </div>
            <div class="row">
              <div class="col col-30 text-right pele_rtl">מטרת עבודה : </div>
              <div class="col col-70 text-right pele_rtl" readonly="true" on-touch="openExistText(detail.ATTRIBUTE6)" >
                <p class="under" style="color:blue">{{detail.ATTRIBUTE6}}</p>
              </div>
            </div>
            <div class="row" ng-show="isHourException12Shown(detail.ATTRIBUTE7)">
              <div class="col text-right pele_rtl" readonly="true" on-touch="openExistText(detail.ATTRIBUTE7)">
                <p class="under" style="color:red">{{detail.ATTRIBUTE7}}</p>
              </div>
            </div>
          </label>
        </div>
      </ul>
     </ion-scroll>
    </ion-slide>
   </ion-slide-box>

  </ion-content>
  <!-- Footer Actions -->
  <ion-footer-bar align-title="right">

    <div class="row">
      <div class="col">
        <button class="button button-block button-large button-positive  icon-right ion-paper-airplane" ng-click="showBtnActions()">פעולות</button>
      </div>

      <div class="col">
        <button class="button button-block button-large button-balanced icon-right ion-document-text" ng-click="NotePopup()">הערה</button>
      </div>

    </div>


  </ion-footer-bar>
  <script id="templates/modal.html" type="text/ng-template">
    <ion-modal-view>
      <ion-header-bar class="bar bar-header bar-positive">
        <h1 class="title">הערה חדשה</h1>
        <button class="button button-clear button-primary" ng-click="modal.hide()">ביטול</button>
      </ion-header-bar>
      <ion-content class="padding">
        <div class="list" dir="RTL">
          <label class="item item-input">
            <textarea rows="8" ng-model="newNote.Note" type="text"></textarea>
          </label>
          <button class="button button-full button-positive" ng-click="createNote(newNote)">שמירה</button>
        </div>
      </ion-content>
    </ion-modal-view>
  </script>
</ion-view>



