<ion-view cache-view="false" >

  <ion-nav-buttons side="right"  >
    <button menu-toggle="left" class="button button-icon icon ion-navicon">
    </button>
  </ion-nav-buttons>
  <ion-nav-title>
    <div class="bar bar-header bar-light">
      <div class="title" id="logo">
      </div>
    </div>
  </ion-nav-title>
  <ion-content class="pele-background">

    <ion-refresher pulling-text="סריקה מחדש ..."  on-refresh="doRefresh()">
    </ion-refresher>

    </button>
  </ion-content>
</ion-view>

