<ion-view cache-view="false">

  <ion-nav-buttons side="right">
    <button menu-toggle="left" class="button button-icon icon ion-navicon">
    </button>
  </ion-nav-buttons>
  <ion-nav-title>
    <div class="bar bar-header bar-positive">
      <h1 class="title">בחירת טפסים לאישור</h1>
    </div>
  </ion-nav-title>

  <ion-content class="pele-background">
    <ion-refresher pulling-text="משוך לרענון..." on-refresh="doRefresh()">
    </ion-refresher>
    <div ng-if="0" class="pele-page-title pele-img-size pele-page-title-font">
      <a class="description">בחירת טפסים לאישור</a>
    </div>

    <div class="row row-bottom">
      <div class="col"></div>
    </div>
    <div ng-if="1" class="apps-front-menu">
      <div class="menu-item" ng-repeat="source in category_sources">
        <button ng-click="onClick(source.MODULE_NAME ,source.DOCUMENT_QTY )" class="button button-large button-stable button-block item-icon-right">
      {{source.MODULE_DESC}} <span class="pel-badge blue">{{source.DOCUMENT_QTY}}</span>

      </button>
      </div>
    </div>
    <div ng-if="0" ng-repeat="source in category_sources" class="text-center apps-menu">
      <div class="row {{isShowBtn(source.DOCUMENT_QTY)}}" ng-click="onClick(source.MODULE_NAME ,source.DOCUMENT_QTY )" ng-model="btn_class.on_release" on-touch="source.PUSH_FLAG = !source.PUSH_FLAG " on-release="source.PUSH_FLAG = !source.PUSH_FLAG">
        <div class="col col-10"></div>
        <div class="col col-80 item item-icon-right {{pushBtnClass(source.PUSH_FLAG)}}">
          <div class="app-button">
            <p class="description">{{source.MODULE_DESC}}&nbsp;&nbsp;({{source.DOCUMENT_QTY}})</p>
          </div>
        </div>
        <div class="col col-10"></div>
      </div>
    </div>
  </ion-content>
</ion-view>
