<ion-view cache-view="false">
  <ion-nav-buttons side="right">
    <button menu-toggle="left" class="button button-icon icon ion-navicon">
    </button>
  </ion-nav-buttons>
  <ion-nav-title>
    <div class="bar bar-header bar-positive">
      <div class="title">{{vm.title}}</div>
    </div>
  </ion-nav-title>
  <ion-content scroll="false">
    <tab-slide-box tab="2">
      <div class="tsb-icons">
        <div class="tsb-ic-wrp">
          <ion-scroll scrollX="false" direction="x" scrollY="false" class="tsb-hscroll">
            <a href="javascript:;" class="triangle-isosceles {{tab.icon}}" ng-repeat="tab in vm.tabs" on-finish-render="test()">
              {{tab.text}}
            </a>
          </ion-scroll>
        </div>
      </div>
      <ion-slide-box show-pager="false" on-slide-changed="slideHasChanged($index)">

        <!-------------------------------------------------------------------------------->
        <!----------------------------- Approve List Slide ------------------------------->
        <!-------------------------------------------------------------------------------->
        <ion-slide>
          <ion-scroll style="height:80%" delegate-handle="slide1Scroll">
            <div class="list">
              <div ng-repeat="action in vm.docDetails.ACTION_HISTORY" class="pele_rtl" href="#">
                <div class="item item-divider item-icon-left item-icon-right text-right action-history-item">
                  <i class="icon" ng-click="vm.toggleActionItem(action)" ng-class="action.left_icon"></i> {{action.APPROVAL_SEQ}}. {{action.USER_NAME}}
                  <i class="icon" ng-class="action.right_icon"></i>
                </div>
                <div class="item bo-border pele_rtl text-right item-icon-left item-icon-right text-right" ng-show="action.display">
                  <div class="row">
                    <div class="col">פעולה:</div>
                    <div class="col col-75">{{action.ACTION}}</div>
                  </div>
                  <div class="row">
                    <div class="col">תאריך:</div>
                    <div class="col col-75">{{action.ACTION_DATE}}</div>
                  </div>
                  <div class="row">
                    <div class="col">הערות:</div>
                    <div class="col col-75 pele-item item-text-wrap">{{action.NOTE}}</div>
                  </div>
                </div>
              </div>
            </div>

          </ion-scroll>
        </ion-slide>
        <ion-slide>
          <ion-scroll style="height:80%" delegate-handle="slide1Scroll">
            <ul class="list">
              <li class="item no-border item-text-wrap">
                <div class="item item-divider item-icon-right">
                  <i class="icon ion-clipboard"></i>
                  <h2 class="text-right pele_rtl">תיאור משימה</h2>
                </div>
                <div class="item no-border item-section pele_rtl item-text-wrap text-right">

                  ויקינגים (באנגלית: Vikings) היא דרמה היסטורית קנדית-אירית שנוצרה ונכתבה על ידי מייקל הירסט עבור ערוץ ההיסטוריה.הסדרה עלתה לשידור ב-3 במרץ 2013 בארצות הברית ובקנדה. הסדרה צולמה באירלנד בהשראת הסיפורים על הויקינג רגנאר לודברוק, אחד מגיבורי התרבות הנורדית
                  הנודעים ביותר. הסדרה מציגה את רגנאר כחקלאי שעולה לגדולה לאחר פשיטות מוצלחות באנגליה ובסופו של דבר הופך למלך סקנדינביה בתמיכת משפחתו וחבריו הלוחמים - אחיו רולו, בנו ביורן צד-ברזל ונשותיו בתולת המגן לגרטה והנסיכה אסלוג. הסדרה חודשה במרץ
                  2015 לעונה רביעית ארוכה מהרגיל הכוללת 20 פרקים, שעלתה לשידור ב-18 בפברואר 2016. ערוץ ההיסטוריה חידש את הסדרה לעונה חמישית במרץ 2016, שגם היא תכלול 20 פרקים. הסדרה הייתה מועמדת לפרסים רבים, בהם פרס אמי לאפקטים חזותיים לשנים 2013-‏2015,
                  וזכתה בארבעה פרסי המסך הקנדיים לשנים 2015-‏2016 וכן ארבעה פרסי גילדת הבמאים של קנדה לשנים 2014-‏2015.

                </div>
              </li>
            </ul>
          </ion-scroll>
        </ion-slide>
        <!------------------------------------------------------------------------------->
        <!----------------------------- Doc Details Slide ------------------------------->
        <!------------------------------------------------------------------------------->
        <ion-slide>
          <ion-scroll class="pele_rtl text-right" style="height:80%" delegate-handle="slide1Scroll">
            <!-- Refresh to get the new posts -->
            <ul class="list">
              <li class="item no-border">
                <div class="item item-divider item-icon-right">
                  <i class="icon ion-clipboard"></i>
                  <h2 class="text-right pele_rtl">פרטי המשימה</h2>
                </div>
                <div class="item-section pele_rtl">
                  <h2>שם : {{vm.docDetails.BAN_NAME}}</h2>
                  <h2>מספר לקוח : {{vm.docDetails.BAN}}</h2>
                  <h2>נושא משימה : {{vm.docDetails.TASK_TYPE}}</h2>
                  <h2>תת נושא : {{vm.docDetails.SUB_TASK_TYPE}}</h2>
                  <h2>תאריך יצירה : {{vm.docDetails.CREATION_DATE}}</h2>
                  <h2>האם משימה חוזרת : {{vm.docDetails.RETURN_TASK}}</h2>
                </div>
              </li>
              <li class="item no-border">
                <div class="item item-divider item-icon-right">
                  <i class="icon ion-clipboard"></i>
                  <h2 class="text-right pele_rtl">נתוני מערכת</h2>
                </div>
                <div class="item-section">
                  <div class="pele_rtl" ng-repeat="item in vm.docDetails.SYSTEM_INFORMATION">
                    <span>{{item.PROMPT}} : <span>{{item.VALUE}}</span></span>
                  </div>
                </div>
              </li>
              <li class="item no-border">
                <div class="item item-divider item-icon-right">
                  <i class="icon ion-clipboard"></i>
                  <h2 class="text-right pele_rtl">נתונים נוספים</h2>
                </div>
                <div class="item-section">
                  <div class="pele_rtl" ng-repeat="item in vm.docDetails.EXTRA_INFORMATION">
                    <span>{{item.PROMPT}} : <span>{{item.VALUE}}</span></span>
                  </div>
                </div>
              </li>
              <li class="item no-border">
                <div class="item item-divider item-icon-right">
                  <i class="icon ion-clipboard"></i>
                  <h2 class="text-right pele_rtl">תיאור</h2>
                </div>
              </li>
              <li class="item no-border">
                <div class="item item-divider item-icon-right">
                  <i class="icon ion-clipboard"></i>
                  <h2 class="text-right pele_rtl">נספחי משימה</h2>
                </div>
                <div class="item-section pele_rtl">
                  <div class="pele_rtl" ng-repeat="file in vm.docDetails.attachments">
                    <span>{{file.name}}</span>
                  </div>
                </div>
              </li>
            </ul>

          </ion-scroll>
        </ion-slide>
      </ion-slide-box>
  </ion-content>
  <!-- Footer Actions -->
  <ion-footer-bar align-title="right">

    <div class="row">
      <div class="col">
        <button class="button button-block button-large button-positive  icon-right ion-paper-airplane" ng-click="vm.showBtnActions()">פעולות</button>
      </div>

      <div class="col">
        <button class="button button-block button-large button-balanced icon-right ion-document-text" ng-click="vm.NotePopup()">הערה</button>
      </div>

    </div>

  </ion-footer-bar>
  <script id="templates/modal.html" type="text/ng-template">
    <ion-modal-view>
      <ion-header-bar class="bar bar-header bar-positive">
        <h1 class="title">הערה חדשה</h1>
        <button class="button button-clear button-primary" ng-click="modal.hide()">ביטול</button>
      </ion-header-bar>
      <ion-content class="padding">
        <div class="list" dir="RTL">
          <label class="item item-input">
            <textarea rows="8" ng-model="newNote.Note" type="text"></textarea>
          </label>
          <button class="button button-full button-positive" ng-click="vm.createNote(newNote)">שמירה</button>
        </div>
      </ion-content>
    </ion-modal-view>
  </script>
</ion-view>
