html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, i, u, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, fieldset, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
   }

.disabled {cursor:none;background:#CCC;color:#eee;}

.center-vertical {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-direction: normal;
    -moz-box-direction: normal;
    -webkit-box-orient: horizontal;
    -moz-box-orient: horizontal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-box-pack: center;
    -moz-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-content: stretch;
    -ms-flex-line-pack: stretch;
    align-content: stretch;
    -webkit-box-align: center;
    -moz-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}

.center-vertical > * {
    -webkit-box-ordinal-group: 1;
    -moz-box-ordinal-group: 1;
    -webkit-order: 0;
    -ms-flex-order: 0;
    order: 0;
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    -webkit-flex: 1 1 auto;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    -webkit-align-self: auto;
    -ms-flex-item-align: auto;
    align-self: auto;
}

.button-stretch {
    width: 100%;
}

.col-offset-15 {
    margin-left: 15%;
}

.slider-slide h3{
    color:#fff;
    margin-top:10px;
}
.scroll{
    height:100%;
}
.tabbed-slidebox .tsb-icons:after{
    display:none;
}

.float-left {
    float: left !important;
}

.float-right {
    float: right !important;
}

textarea.pele-no-resize
{
    resize:none;
}
span.tab{
    padding: 0 10px;
}
p.tab{
  padding: 0 10px;
}
/*----------------------------------------------------------*/
/*-- When        Who       Description
/*-- ==========  ========  ============================== --*/
/*-- 27/12/2016  R.W.
/*----------------------------------------------------------*/

.pele-background {
    direction: rtl;
    background-image: url('../img/DocApprove/background.png')
}
.pele-note-background{
    background-image: url('../img/DocApprove/popup_background.png')
}

.pele-img-size{
    max-width: 100%;
    height: auto;
}
.pele-menu-title {
    color: #444;
    position: absolute;
    top: 50px;
    left: 30px;
    font-weight: 500;
    text-transform: capitalize;

}
.pele-menu-category {
    /* height: -webkit-calc(50vw - 15px); */
    /* height: calc(50vw - 15px); */
    /* box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3); */
    border-radius: 2px;
    position: relative;
    display: block;
}
.pele-menu_btn-bg{
    max-width: 100%;
    height: auto;
    background-image: url('../img/DocApprove/menu_button_grey.png');
}
.popup-body {
    background-image : url('../img/DocApprove/popup_details.png');
}

.pele_show {
    display: inline;
}
.pele_hide {
    display: none;
}
div.pele-item-on-release{
  border:none;
  background: transparent;
  background-size: 100% !important;
  background: url("../img/DocApprove/menu_button_grey.png") center;
  background-repeat:no-repeat;
  padding:0px;
  margin: 0px 0px 0px 0px ;
}
div.pele-item-on-touch{
  border:none;
  background: transparent;
  background-size: 100% !important;
  background: url("../img/DocApprove/menu_button_blue.png") center;
  background-repeat:no-repeat;
  padding:0px;
  margin: 0px 0px 0px 0px ;
}

.pele-list .item.item-accordion {
    line-height: 38px;
    margin-top: 2px;
    margin-bottom: 2px;
    transition: 0.09s all linear;
    background-color: #CECECE;

}
.pele-list .item.item-accordion.ng-hide {
    line-height: 0px;
}
.pele-list .item.item-accordion.ng-hide-add,
.pele-list .item.item-accordion.ng-hide-remove {
    display: block !important;
}
div.login-form {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
}

div.app-button{

}


.description{
  color: black !important;
  font-weight: bold;
  text-align: center;
  vertical-align: middle;
  padding: 10px;
}

.row{padding: 0px !important; }
/*----------------------------------------------------------------*/
/* When        Who         Description                            */
/* ==========  ==========  ====================================== */
/* 24/12/2015  R.W.        Css for page Title                     */
/*----------------------------------------------------------------*/
.pele-page-title{
  border:none;
  background: transparent;
  background-size: 100% !important;
  background: url("../img/DocApprove/pele_header_1.png") center;
  background-repeat:no-repeat;
  padding: 10px;
  text-align: center;
}
.pele-img-place{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.pele-page-title-font{
  font-size: 25px;
  color: #000;

}
.pele-popup-positive-text-collot{
  color:white;
}

pele-button{
  font-weight: normal;
  font-size: 14px;
  line-height: 0;
}



/*----------------------------------------------------------------*/
/* When        Who         Description                            */
/* ==========  ==========  ====================================== */
/* 31/12/2015  B.B.        Css Doc List                     */
/*----------------------------------------------------------------*/

label.item-search{
    background-color: #3F3F3D;
}

input.search-area{background-image: url("../img/DocApprove/search_box.png");
    background-size: 100% 32px !important;
    background-repeat:no-repeat;
    height:32px !important;
    padding: 0px;
    /* direction:rtl ;*/
}
/*
a.search-icon{background-image: url("../img/DocApprove/search_button.png");
    background-size: 100% 32px !important;
    background-repeat:no-repeat;
    height:32px ;
    width: 32px;
    padding: 0px;
}
*/
a.search-icon {
  background-image: url("../img/DocApprove/search_button.png");
  background-size: 100% 32px !important;
  background-repeat: no-repeat;
  height: 34px;
  width: 32px;
  padding: 0px;
}

a.icon-collapse{background-image: url("../img/DocApprove/collapse_arrow.png");
    background-size: 100% 24px !important;
    background-repeat:no-repeat;
    height:24px ;
    width: 14px;
    padding: 0px;
    float: left;
    display: inline-block;
}

a.icon-expand{background-image: url("../img/DocApprove/expand_arrow.png");
    background-size: 100% 24px !important;
    background-repeat:no-repeat;
    height:24px ;
    width: 14px;
    padding: 0px;
    float: left;
    display: inline-block;
}

i.icon-collapse{background-image: url("../img/DocApprove/collapse_arrow.png");
  background-size: 100% 24px !important;
  background-repeat:no-repeat;
  height:24px ;
  width: 14px;
  padding: 0px;
  float: left;
  display: inline-block;
}

i.icon-expand{background-image: url("../img/DocApprove/expand_arrow.png");
  background-size: 100% 24px !important;
  background-repeat:no-repeat;
  height:24px ;
  width: 14px;
  padding: 0px;
  float: left;
  display: inline-block;
}


span.item-title{
    /* direction: rtl;*/
    text-align: right;
    padding: 0px 25px 0px 5px;
    font-weight: bold;
    font-size: 16px;
    color: black;
}


ion-item.item-stable{text-align: right;}
ion-item.item-stable :active{background-color: #FFFFFF !important;}
ion-item.item-doc-list{margin-top:1px; margin-bottom: 1px; background-color: #CECECE; max-height: 67px; vertical-align: top; border: none; }
.item-doc-list img{height: 38px; float: left;  width:auto; border: none;}
ion-item.item-doc-list-3{margin-top:1px; margin-bottom: 1px; background-color: #CECECE; max-height: 80px; vertical-align: top; border: none; }
.item-doc-list-3 img{height: 50px; float: left;  width:auto; border: none;}
ion-item.item-doc-list-3A{margin-top:1px; margin-bottom: 1px; background-color: #CECECE; max-height: 82px; vertical-align: top; border: none; }
.item-doc-list-3A img{height: 54px; float: left;  width:auto; border: none;}
div.item-content{padding:5px 10px 5px 10px !important; border: none !important; background-color: #CECECE !important;  vertical-align: middle !important;}
.item-doc h2{    padding: 0px 5px 0px 5px ;}
.item-doc h3{    padding: 0px 10px 0px 10px ;}

/* rem by R.W.
.bar.app-top-bar {
  border:none;
  background: transparent;
  background-size: 100% !important;
  background: url("../img/DocApprove/side_bar_background_dark.png") center;
  background-repeat:no-repeat;
  padding:0px;
  margin: 0px 0px 0px 0px ;
}
*/

dic.title {
  border:none;
  background: transparent;
  background-size: 100% !important;
  background: url("../img/DocApprove/logo.png") center;
  background-repeat:no-repeat;
  padding:0px;
  margin: 0px 0px 0px 0px ;
  max-width: 100%;
  max-height: 100%;
}


input[type=tel] {
  -webkit-text-security: disc;
}
p.under {
  text-decoration: underline;
}

.envPD{}
.envQA{background-color: #886aea;}
.envDV{background-color: #ffc900;}

.pele-row + .pele-row {
  margin-top: -10px;
  padding-top: 0;
}

.pele-row + .pele-row {
  margin-top: -14px;
  padding-top: 0;
}
.pele-row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 5px;
  width: 100%;
}
.pele-row {
  padding: 0px !important;
}
.pele-row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 5px;
  width: 100%;
}

.pele-item {
  border-color: #ddd;
  background-color: #fff;
  color: #444;
  position: relative;
  z-index: 2;
  display: block;
  margin: -1px;
  padding: 5px;
  border-width: 0px;
  border-style: solid;
  font-size: 16px;
}
.pele-item-icon-left {
  padding-left: 26px;
}
/* ----------------------------------------------------------------- */
/* - When        Who        Description                              */
/* ------------  ---------  ---------------------------------------- */
/* - 03/01/2017  R.W.       Round Button for scan
/* ----------------------------------------------------------------- */
.round-button {
  width:25%;
}
.round-button-circle {
  width: 100%;
  height:0;
  padding-bottom: 100%;
  border-radius: 50%;
  border:10px solid #cfdcec;
  overflow:hidden;

  background: #4679BD;
  box-shadow: 0 0 3px gray;
}
.round-button-circle:hover {
  background:#30588e;
}
.round-button a {
  display:block;
  float:left;
  width:100%;
  padding-top:50%;
  padding-bottom:50%;
  line-height:1em;
  margin-top:-0.5em;

  text-align:center;
  color:#e2eaf3;
  font-family:Verdana;
  font-size:1.2em;
  font-weight:bold;
  text-decoration:none;
}
table.pele_rtl , .pele_rtl,div.pele_rtl {
  direction: rtl;
  unicode-bidi :plaintext ;
}
.pele_ltr {
  direction: ltr;
  unicode-bidi :plaintext ;
 }
table.pele_rtl {
  direction: rtl;
  unicode-bidi :plaintext ;
  float:right;
  white-space: normal;
}

table.pele_rtl td.label {
  white-space: nowrap;
  text-decoration: underline;
}

span.label  { font-weight:bold}
span.info  { padding-left:10px}
table.pele_rtl td.info {
  padding-right:8px
}

table.pele_rtl td.info.alert {
  color:red;
}

table.pele_rtl:after {
  clear:both;
}

ion-item.pele_rtl {
  direction: rtl;
  unicode-bidi: plaintext;
}


ion-item.pele_rtl {
  direction: rtl;
  unicode-bidi: plaintext;

}
h2.pele_rtl{
  direction: rtl;
  unicode-bidi: plaintext;
}

.apps-front-menu {padding: 0 10%}
.apps-front-menu .menu-item {margin-top:3px}
.apps-front-menu button { height:70px;;position: relative;background-color: #E3F2FD;border-radius: 6px;font-weight:bolder;min-height:70px;}
.apps-front-menu button.activated {border-radius: 6px;background:#BBDEFB}
.apps-front-menu .badge.badge-positive {margin-right:10px}
.apps-front-menu .menu-item button img {  position: absolute; height:50px;min-height:50px;
            top: 10px;
            right:10px
            }


label.item-search-new {;background: #c4c6c7}
label.item-search-new  {border:1px solid #CCC;background:White;border-radius: 4px;margin:10px !important}
label.item-search-new i {color:black;font-size:20px;}
label.item-search-new input {color:black;font-size:20px}
div.list-item-search {margin:0;background: #E3F2FD}
div.new-tab-slide-box .tabbed-slidebox {background:#fff}

.triangle-isosceles {
  border:2px solid #2196F3;
  position:relative;
  padding:7px;
  margin:1em 0 3em;
  color:#000;
  background:#fff;
  border-radius:10px;
}
.triangle-isosceles:after {
  content:"";
  position:absolute;
  bottom:-12px; /* value = - border-top-width - border-bottom-width */
  right:10px; /* controls horizontal position */
  border-width:12px 12px 0; /* vary these values to change the angle of the vertex */
  border-style:solid;
  border-color:#2196F3 transparent;
  /* reduce the damage in FF3.0 */
  display:none;
  width:0;
}
a.triangle-isosceles.active:after {
  content:"";
  position:absolute;
  bottom:-10px; /* value = - border-top-width - border-bottom-width */
  right:10px; /* controls horizontal position */
  border-width:10px 10px 0; /* vary these values to change the angle of the vertex */
  border-style:solid;
  border-color:#2196F3 transparent;
  /* reduce the damage in FF3.0 */
  display:block;
  width:0;
}
a.triangle-isosceles.active { font-weight:bolder}

table.mix-alpha-numeric-table tr td {padding-left:5px}
div#main-apps-menu div.row-bottom {margin-top:15px}
/* fix ios 10 title  proble*/
.platform-ios .nav-bar-title .bar .title {margin-top:0 !important}
.docs-menu-head {font-weight:bolder}
.docs-menu-item-title {font-size: 16px;font-weight:bolder}
.docs-menu .item.docs-menu-details {padding:7px 11px}
.docs-menu .item.docs-menu-details .icon {height:40%; top:20%}

.pel-badge {
    display: inline-block;
    min-width: 20px;
    min-height: 20px;
    padding: 4px 4px;
    font-size: 12px;
    font-weight: 700;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    background-color: #777;
    border-radius: 50%;
    margin-right:5px;
    color: rgb(255, 255, 255);
}
.string-badge {
    display: inline-block;
    min-width: 20px;
    min-height: 20px;
    padding: 4px 4px;
    font-size:11px;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    background-color: #777;
    border-radius: 10%;
    margin-right:5px;
    color: rgb(255, 255, 255);
}
.icon.navy {color:#003366}
.icon.red {color:#CA002A}

.pel-badge.pink {
  background-color: rgb(255, 64, 129);
}

.pel-badge.blue {
  background-color: #1E88E5
}

.pel-badge.light-blue {
  background-color: #0288D1
}

.pel-badge.green {
  background-color: #43A047
}

.pel-badge.cyan {
  background-color: #0097A7
}


.pel-badge-positive {background-color:#387ef5 }
.item-section {padding-top:8px;padding-right:8px;padding-bottom: 12px}
.item-section {clear:both !important;}
.no-border { border:0  !important}
.item.action-history-item {line-height:30px}
div.loading-container div.loading {background-color: #2980B9 !important;}
img.spinner-svg {height:60px}
.item.item-info { padding:5px}
.platform-android .action-sheet-cancel {
    display: block !important;
}
.item.develeoper-info {background:#85eeff}
.card.error {margin:30px;}
.item.error-top  {background :#e95350}
.item.error-top i.icon  { font-size:130px;color:#FFF}
.item.error-bottom { background :#FFF}
.card.error .button { border:1px solid #CCC;margin:0}
.show_content_Y { color:blue;text-decoration:none;}
.attach_file {line-height:25px}
.alert { color:red}
.attachments-table {width:100%}
.attachments-table tr  { border-bottom: 1px solid #CCC ; line-height: 30px}
.attachments-table tr td.num_index  { width:30px;}
.ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.ellipsis_90 {max-width:90%}

.bar.app-top-bar { background-color: #0160a0 !important}

.icon.pel_icon {
    font-size: 1.3em;
}
.icon.pel_icon.icon-sm {
    font-size: 1.2em;
}

.icon.pel_icon.icon-md {
    font-size: 1.4em;
}
.icon.pel_icon.icon-lg {
    font-size: 1.6em;
}
.item-icon-right .pel_icon.icon {
    right: 4px;

}
.item-icon-left .pel_icon.icon {
    left: 4px;
}
img.doc-redirect {height:30px}
 .highlighted { background: yellow ; font-weight: bold}
.list.list-inset.text-finder {margin-top:0 ; margin-bottom: 0}

div.show-search {height:50px;min-height: 50px;display: block}
div.hide-search {height:0px;min-height: 0px;display:none}


.fab {
   width: 40px;
   height: 40px;
   background-color: #60dff5;
   border-radius: 50%;
   box-shadow: 0 6px 10px 0 #666;
   transition: all 0.1s ease-in-out;
   font-size: 20px;
   color: white;
   text-align: center;
   line-height: 40px;
   position: fixed;
   left: 10px;
   top: 5px;
   z-index: 199999;
}

.fab .icon { color:white}
.fab:hover {
   box-shadow: 0 6px 14px 0 #666;
   transform: scale(1.05);
}
div.short_text { font-size:12px}
